# 1 Manipulate using a list

In [17]:
# To add new elements to the end of the list.

list = [1, 'RUSHAN' , 2575376]
list

[1, 'RUSHAN', 2575376]

In [18]:

list.append('Kumar')#append used to add a single element in the list
list.extend ([1,2,3]) # extend is used to add
list

[1, 'RUSHAN', 2575376, 'Kumar', 1, 2, 3]

In [19]:
#To reverse elements in the list

list.reverse
print("reversed list: \n\n", list)

reversed list:

 [1, 'RUSHAN', 2575376, 'Kumar', 1, 2, 3]

In [20]:
#To display the same list of elements multiple times.

ls = [1,2,3]
mul= ls*2 #list multipled two times
print(mul)

[1, 2, 3, 1, 2, 3]

In [21]:
#To concatenate two list

list1 = [1,2,3]
list2 = [4,5,6]
con= list1 + list2 #both the list concatenate to one list
print(con)

[1, 2, 3, 4, 5, 6]

In [22]:
# To sort the elements in the list in ascending order

list=[7,8,6,4,2,0]
list.sort()
list

[0, 2, 4, 6, 7, 8]

# 2 Write a Python program to do in the tuples
# manipulate using tuples
#To add new elements to the end of the tuples
#To reverse elements in the list
#To display the elements of the same tuple multiple times.
#To concatenate two tuples
#To short the elements in the list in ascending order.

In [23]:
# Manipulate using tuples.
tuple = (4,5,6,7,8)
tuple

(4, 5, 6, 7, 8)

In [26]:
#To add new elements to the end of the tuples
tup1=(1,2,3)
tup1
#tuple are imutable, so you can not add new elements

(1, 2, 3)

In [59]:
#To reverse elements in the list
def reverse_tuple(tuple2):
    return tuple2[::-1]

tuple2 = (4, 3, 2, 1)
reversed_tuple = reverse_tuple(tuple2)
print(reversed_tuple)

(1, 2, 3, 4)

In [35]:
#To display the elements of the same tuple multiple times.
tup=(1,2,3)
mul=tup*2 #list multiple two times
print(mul)

(1, 2, 3, 1, 2, 3)

In [36]:
#To concatenate two tuples

tup1 = (1,2,3)
tup2 = (3,2,5)
con = tup1 + tup2
con

(1, 2, 3, 3, 2, 5)

In [61]:
#To short the elements in the list in ascending order.

def sort_list(list2):
    return sorted(list2)

list2 = [4, 2, 3, 1]
sorted_list = sort_list(list2)
print(sorted_list)

[1, 2, 3, 4]

# 3 write a python program to implement the following using list.
#create a list with integers (minimum 10 numbers)
#How to display the last number in the list
#command for the displaying the value from the list [0:4]
#command for the displaying the value from the list [2:]
#command for the displaying the value from the list [:6]

In [40]:
#create a list with integers (minimum 10 numbers)

list = [1,2,3,4,5,6,7,8,9,10]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
#How to display the last number in the list
list[-1]

10

In [42]:
#command for the displaying the value from the list [0:4]

list[0:4]

[1, 2, 3, 4]

In [43]:
#command for the displaying the value from the list [0:4]

list[0:4]

[1, 2, 3, 4]

In [45]:
#command for the displaying the value from the list [2:]
list[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
#command for the displaying the value from the list [:6]
list[:6]

[1, 2, 3, 4, 5, 6]

# 4 write a python program: tuple1=(10,50,20,40,30)
#To display the elements 10 and 50 from tuple1
#To display the length of a tuple1.
#To find the Minimum element from tuple1
#To add all elements in the tuple1
#To Display the same tuple1  multiple times.

In [7]:
# To display the elements 10 and 50 from tuple1

tuple1=(10,50,20,40,30)
print(tuple1[0]) # Output: 10
print(tuple1[1]) # Output: 50

10
50

In [8]:
# To display the length of tuple1
print(len(tuple1)) # Output: 5

5

In [9]:
# To find the minimum element from tuple1
print(min(tuple1)) # Output: 10

10

In [10]:
# To add all elements in tuple1
sum_of_elements = sum(tuple1)
print(sum_of_elements) # Output: 150

150

In [11]:
# To display the same tuple1 multiple times
multiple_times = tuple1 * 3
print(multiple_times) # Output: (10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5 write a python program:
#To calculate the length of a string
#To reverse words in a string
#To display the same string multiple times
#To concatenate two strings
#str1=“ south” ,using string slicing to display “india”

In [1]:
# To calculate the length of a string
string = "Hello World"
length = len(string)
print("Length of the string is:", length)

Length of the string is: 11

In [2]:
# To reverse words in a string
string = "Hello World"
words = string.split()
reversed_string = ' '.join(reversed(words))
print("Reversed string is:", reversed_string)

Reversed string is: World Hello

In [3]:
# To display the same string multiple times
string = "Hello"
n = 3
repeated_string = string * n
print("Repeated string is:", repeated_string)

Repeated string is: HelloHelloHello

In [4]:
# To concatenate two strings
str1 = "Hello"
str2 = "World"
concatenated_string = str1 + " " + str2
print("Concatenated string is:", concatenated_string)

Concatenated string is: Hello World

In [5]:
# Using string slicing to display "india" from str1 = "south"
str1 = "south"
substring = str1[2:]
print("Substring is:", substring)

Substring is: uth

# 6 Perform the following:
#Creating the dictionary.
#Accessing value and keys in the dictionary.
#Update the dictionary using a function
#Clear and delete the dictionary value

In [21]:
# Creating the dictionary
dictionary1 = {'name': 'Raushan', 'age': 25, 'city': 'kolkata'}

In [22]:
# Accessing values and keys in the dictionary
print(dictionary1['name']) # Output: Raushan
print(dictionary1['age']) # Output: 25
print(dictionary1.keys()) # Output: dict_keys(['name', 'age', 'city'])
print(dictionary1.values()) # Output: dict_values(['Raushan', 25, 'kolkata'])

Raushan
25
dict_keys(['name', 'age', 'city'])
dict_values(['Raushan', 25, 'kolkata'])

In [23]:
# Update the dictionary using a function
dictionary1.update({'age': 27, 'country': 'USA'})
print(dictionary1) # Output: {'name': 'Raushan', 'age': 27, 'city': 'New York', 'country': 'USA'}

{'name': 'Raushan', 'age': 27, 'city': 'kolkata', 'country': 'USA'}

In [24]:
# Clear and delete the dictionary value
dictionary1.clear()
print(dictionary1) # Output: {}

del dictionary1
#print(dictionary1) # Output: NameError: name 'dictionary1' is not defined

{}

In [45]:
# 7 Python program to insert a number to any position in a lists.

list=[1, 2, 3, 4,]
list

[1, 2, 3, 4]

In [25]:
#8 Python program to delete an element from a list by index

# Creating a list
list1 = ['apple', 'banana', 'orange', 'grape']

# Deleting an element by index
del list1[2]
print(list1) # Output: ['apple', 'banana', 'grape']

# Deleting an element by value
list1.remove('banana')
print(list1) # Output: ['apple', 'grape']

['apple', 'banana', 'grape']
['apple', 'grape']

In [27]:
#9 Write a program to display a number from 1 to 100
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [28]:
#10 Write a python program to find the sum of all items in a tuple

my_tuple = (1, 2, 3, 4, 5)
total = sum(my_tuple)
print(total)

15

# 11 Create a dictionary containing three lambda functions a square cube and square roots.
1)E.g. dict = {‘square’:Function for squaring, ‘cube’: ‘squareroot’: Function for square root}
2)Pass the values (input for the user) to the function in the dictionary respectively.
3)Then add the outputs of each function and print it.

In [29]:
my_dict = {
    'square': lambda x: x**2,
    'cube': lambda x: x**3,
    'squareroot': lambda x: x**0.5
}

In [30]:
# Get input from the user
num = int(input("Enter a number: "))

Enter a number: 16

In [31]:
# Pass the input to each function in the dictionary
square_result = my_dict['square'](num)
cube_result = my_dict['cube'](num)
squareroot_result = my_dict['squareroot'](num)

In [32]:
# Add the outputs of each function
total = square_result + cube_result + squareroot_result

print(total)

4356.0

# 12 A List of words is given find the word from the list that have their second character in uppercase.
ls = [‘hello’ , ‘Dear’, ‘hOw’ , ‘ARe’ , ‘You’]

In [43]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']

result = [word for word in ls if word[1].isupper()]

print(result)

['hOw', 'ARe']

# 13. A dictionary of names and their weights on earth is given. find how much they will weight on the moon.( use map and lambda functions formula )Formula : wMoon = (wEarth * GMoon)/GEarth 
1)   #weight of people in kg
       •  WeightOnEarth = {‘john’ :45, ‘shelly’ :65, ‘marry’ :35}
2)  #Gravitational Force on the Moon: 1.622m/s2
        •  GMoon = 1.622
3)  #Gravitational Force on the Earth: 9.82m/s2
        •  GEarth = 9.81

In [44]:
WeightOnEarth = {'john': 45, 'shelly': 65, 'marry': 35}
GMoon = 1.622
GEarth = 9.81

WeightOnMoon = list(map(lambda x: (x[0], (x[1] * GMoon) / GEarth), WeightOnEarth.items()))

print(WeightOnMoon)

[('john', 7.440366972477065), ('shelly', 10.747196738022426), ('marry', 5.786952089704383)]

# Control structures

In [25]:

#1 Write a python program to find the N prime numbers.

def isPrime(n):

  if(n==1 or n==0):    #since 0 and 1 is not prime return false.
    return False

  for i in range(2,n):    #Run a loop from 2 to n-1
    #if the number is divisible by i, then n is not a prime number.
    if(n%i==0):
      return False

  #otherwise, n is prime number.
  return True


N = 100;

for i in range(1,N+1):   #check for every number from 1 to N
  #check if current number is prime
  if(isPrime(i)):
    print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [15]:
#2 Write the Python code that calculates the salary of an employee.promt the user to enter the basic salary ,HRA,TA,and DA.Add these components to calculate the gross salary.also,deduct 10% of salary from gross salary to be paid as tax and display gross minus tax as net salary.

basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))


gross_salary = basic_salary + hra + ta + da # Calculate the Gross Salary


tax = 0.10 * gross_salary # Calculate the Tax (10% of Gross Salary)


net_salary = gross_salary - tax # Calculate the Net Salary (Gross Salary - Tax)

# Display the results
print(f"Gross Salary: {gross_salary}")
print(f"Tax: {tax}")
print(f"Net Salary: {net_salary}")

Enter Basic Salary: 40000
Enter HRA: 2443
Enter TA: 1232
Enter DA: 300
Gross Salary: 43975.0
Tax: 4397.5
Net Salary: 39577.5

In [1]:
#3 write a python program to search for a string in the given list.

list = ['apple', 'banana', 'cherry', 'mango']

string = input("Enter a string to search for: ") #string to search for


found = False # Initialize a flag to check if the string is found


for item in list:     # Iterate through the list to search for the string
    if item == string:
        found = True
        break  # Stop searching once the string is found

# Check if the string was found and print the result
if found:
    print(f"The string '{string}' was found in the list.")
else:
    print(f"The string '{string}' was not found in the list.")

Enter a string to search for: cherry
The string 'cherry' was found in the list.

In [2]:
#4 write a python function that accept a string and calculate the number of upper-case letters and lower-case letters

def count_letters(string):
    uppercase_count = 0
    lowercase_count = 0

    for char in string:
        if char.isupper():
            uppercase_count += 1
        elif char.islower():
            lowercase_count += 1

    return uppercase_count, lowercase_count

input_string = input("Enter a string: ")

uppercase, lowercase = count_letters(input_string)

print(f"Uppercase letters: {uppercase}")
print(f"Lowercase letters: {lowercase}")

Enter a string: 5
Uppercase letters: 0
Lowercase letters: 0

In [3]:
#5 write a program to display the sum of odd numbers and even numbers that fall between 12 and 37

even = 0
odd = 0

for num in range(12, 38): # Iterate  numbers from 12 to 37
    if num % 2 == 0:
        even += num  # Add even number to even
    else:
        odd += num   # Add odd number to odd

# Display the sums
print(f"Sum of even numbers between 12 and 37: {even}")
print(f"Sum of odd numbers between 12 and 37: {odd}")

Sum of even numbers between 12 and 37: 312
Sum of odd numbers between 12 and 37: 325

In [4]:
#6 write a python program to print the table of any number.

num = int(input("Enter a number: "))

table_range = range(1, 11) # Set the range for the multiplication table (1 to 10)

print("Multiplication table for {num}:")  # Print the multiplication table

for i in table_range:
    result = num * i
    print(f"{num} x {i} = {result}")

Enter a number: 5
Multiplication table for {num}:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [5]:
#7 write a python program to sum of the first 10 prime numbers

def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def sum_first_10_primes():
    primes = []
    num = 2
    while len(primes) < 10:
        if is_prime(num):
            primes.append(num)
        num += 1
    return sum(primes)

result = sum_first_10_primes()
print(f"The sum of the first 10 prime numbers is: {result}")

The sum of the first 10 prime numbers is: 129

In [6]:
#8 write a python program to implement arithmetic operations using nested if statement.

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operator = input("Enter an operator (+, -, *, /): ")

# Perform the arithmetic operation based on the operator
if operator == '+':
    result = num1 + num2
elif operator == '-':
    result = num1 - num2
elif operator == '*':
    result = num1 * num2
elif operator == '/':
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Division by zero is not allowed."
else:
    result = "Invalid operator."

# Display the result
print(f"Result: {result}")

Enter the first number: 9
Enter the second number: 11
Enter an operator (+, -, *, /): *
Result: 99.0

In [7]:
#9 write a python program to take the temperature in celsius and convert it to a fahrenheit

celsius = int(input("Enter the Temperature in Celsius :\n"))
fahrenheit = (1.8 * celsius) + 32
print("Temperature in Fahrenheit :", fahrenheit)

Enter the Temperature in Celsius :
27
Temperature in Fahrenheit : 80.6

In [8]:
#10 write a python program to find a maximum and minimum number in a list without using an inbuilt function

def max_min(data):
  l = data[0]
  s = data[0]
  for num in data:
    if num> l:
      l = num
    elif num< s:
        s = num
  return l, s

print(max_min([0, 10, 15, 40, -5, 42, 17, 28, 75]))

(75, -5)

In [9]:
#11 write a program i python to print out of the number of seconds in 30 days month 30 days ,24 hours in a day , 60 minutes per day , 60 seconds in a minute.

days_per_month = 30
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60


total_seconds = days_per_month * hours_per_day * minutes_per_hour * seconds_per_minute # Calculate the total number of seconds in a 30-day month

print(f"Number of seconds in a 30-day month: {total_seconds}")

Number of seconds in a 30-day month: 2592000

In [10]:
#12 write a program in python to print out the number of seconds in year

days=365
hours=24
minutes=60
seconds=60
print("Number of seconds in a year : ",days*hours*minutes*seconds)

Number of seconds in a year :  31536000

In [11]:
#13A high speed train can travel at an average speed of 150 mph , how long will take a train traveling at this speed to travel from london to glasgow which is 414 miles away

distance = 414
speed = 150
time = (distance/speed)
print("it will take",time,"hours to travel from london to glasgow")

it will take 2.76 hours to travel from london to glasgow

In [12]:
#14 write a python program that defines a variable called days in each school year and assign 192 to the variable. the program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days in each school year =192

days_in_each_school_year = 192

# Define the range of school years (from year 7 to year 11)
start_year = 7
end_year = 11


total_hours = (end_year - start_year + 1) * days_in_each_school_year * 6  # Calculate the total hours spent on school

# Print the total hours spent on school
print(f"Total hours spent on school from year {start_year} to year {end_year}: {total_hours} hours")

Total hours spent on school from year 7 to year 11: 5760 hours

In [13]:
#15 if the age of Ram ,sam and khan are input through the keyboard,write a python program to determine the eldest and youngest of the three .

ram_age = int(input("Enter Ram's age: "))
shyam_age = int(input("Enter Shyam's age: "))
khan_age = int(input("Enter Khan's age: "))

eldest = max(ram_age, shyam_age, khan_age)
youngest = min(ram_age, shyam_age, khan_age)

print(f"The eldest among Ram, Shyam, and Khan is {eldest} years old.")
print(f"The youngest among Ram, Shyam, and Khan is {youngest} years old.")

Enter Ram's age: 23
Enter Shyam's age: 27
Enter Khan's age: 30
The eldest among Ram, Shyam, and Khan is 30 years old.
The youngest among Ram, Shyam, and Khan is 23 years old.

In [14]:
#16 write a python program to rotate a list by right n times with and without slicing technique

def rightRotate(lists, num):
    output_list = []


    for item in range(len(lists) - num, len(lists)): # Will add values from n to the new list
        output_list.append(lists[item])

    # Will add the values before
    # n to the end of new list
    for item in range(0, len(lists) - num):
        output_list.append(lists[item])

    return output_list

rotate_num = 3
list_1 = [1, 2, 3,4,5,6]

print(rightRotate(list_1, rotate_num))

[4, 5, 6, 1, 2, 3]

# 17 Python Program to print the pattern given below:
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [50]:
rows = int(input("Enter the number of rows: "))

for i in range(rows):
    num = 1
    for j in range(i + 1):
        print(num, end=" ")
        num = num * (i - j) // (j + 1)
    print()

Enter the number of rows: 7
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [ ]:

*
* *
* * *
* * * *
* * * * *

In [51]:
rows = int(input("Enter the number of rows: "))

for i in range(rows):
    for j in range(i + 1):
        print("*", end=" ")
    print()

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
                                  *
                                 * *
                                * * *
                               * * * *
                              * * * * *
                             * * * * * *
                            * * * * * * *

In [52]:
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")
    for k in range(i + 1):
        print("* ", end="")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
       P
       Py
       Pyt
       Pyth
       Pytho
       Python

In [53]:
word = "Python"

for i in range(len(word)):
    for j in range(len(word) - i - 1):
        print(" ", end="")
    for k in range(i + 1):
        print(word[k], end="")
    print()

     P
    Py
   Pyt
  Pyth
 Pytho
Python