# 1 Modules and Virtual Environments

1. Module Import and Management

Scenario: You are developing a complex Python project with multiple modules. To manage the project effectively, you need to import and use various modules. Additionally, you want to organize your code using namespaces and avoid naming conflicts.

Design a Python program that demonstrates the following:

1. Import multiple modules within your project.

2. Use the import statement to access functions, classes, and variables from imported

modules.

3. Create your custom module and use it in your main program.

4. Handle naming conflicts and ensure proper namespacing. 5. Implement error handling for missing modules or incorrect module usage.

2. Virtual Environment Management Scenario: You are working on multiple Python projects with different dependencies and versions. To avoid conflicts and ensure project isolation, you decide to use virtual environments.

Create a Python program that demonstrates the following:

1. Create a virtual environment for a specific project.

2. Activate and deactivate virtual environments.

3. Install, upgrade, and uninstall packages within a virtual environment.

4. List the installed packages in a virtual environment.

5. Implement error handling for virtual environment operations.

3. Module Dependency Resolution

Scenario: You are developing a Python application that relies on third-party packages. Managing

dependencies and ensuring compatibility is crucial for your project's success.

Design a Python program that demonstrates the following:

1. Use a requirements.txt file to specify project dependencies.

2. Automatically install all project dependencies from the requirements.txt file.

3. Ensure that the versions of installed packages are compatible. 4. Implement error handling for dependency resolution and installation.

In [ ]:
import mysql.connector as sql

In [ ]:
conn= sql.connect(host='127.0.0.1',
                   user='root',
                   password='Raus#199815@K',
                   database='inventory')
print(conn)

In [ ]:
curs=conn.cursor()
curs

In [ ]:
curs.execute("create table purchases (purchase_id INT PRIMARY KEY, product_name VARCHAR(50),  quantity INT)")

In [ ]:
curs.execute("create table sales (sales_id INT PRIMARY KEY, sales_date DATE,  quantity INT)")

In [ ]:
curs.execute("create table inventory (inventory_id INT, inventory_name VARCHAR(50),  quantity INT)")

In [ ]:
curs.execute("show tables")
for i in curs:
    print(i)

In [ ]:
cus_insert="insert into purchases (purchase_id,product_name,quantity) values (%s,%s,%s)"   #records insert
cus_val=[(1003,'bike',400),
        (1004,'mobile',500),
        (1005,'fidge',600),
        (1006,'Laptop',900),
        (1007,'tv',900)]

curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'records inserted')

In [ ]:
curs.execute("select * from purchases")
result=curs.fetchall()
for i in result:
        print(i)

In [ ]:
cus_insert="insert into sales (sales_id,sales_date,quantity) values (%s,%s,%s)"   #records insert
cus_val=[(13,'2001-05-02',3000),
        (14,'2002-08-07',5000),
        (15,'2003-09-03',6000),
        (16,'2004-06-03',7000),
        (17,'2005-07-23',8000)]

curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'records inserted')

In [ ]:
curs.execute("select * from sales")
result=curs.fetchall()
for i in result:
        print(i)

In [ ]:
cus_insert="insert into inventory (inventory_id,inventory_name,quantity) values (%s,%s,%s)"   #records insert
cus_val=[(103,'acc',40001),
        (104,'bcs',50001),
        (105,'hds',60001),
        (106,'dfs',70001),
        (107,'rew',80001)]

curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'records inserted')

In [ ]:
curs.execute("select * from inventory")
result=curs.fetchall()
for i in result:
        print(i)

In [ ]:
sql="select * from inventory where quantity<=60001"
curs.execute(sql)
for i in curs:
    print (i)

# 2. Customer Order Processing

Scenario: You are building a customer order processing system for an e-commerce company. The system needs to interact with a MySQL database to store customer orders, products, and order details.

1. Design a MySQL database schema for the order processing system, including tables for customers, products, and orders.

2. Write a Python program that connects to the database and allows customers to place new orders.

3. Implement a feature that calculates the total cost of an order and updates product quantities in the database.

4. How would you handle cases where a product is no longer available when a customer places an order?

5. Develop a function to generate order reports for the company's finance department.

In [ ]:
import mysql.connector as sql

In [ ]:
conn= sql.connect(host='127.0.0.1',
                   user='root',
                   password='Raus#199815@K',
                   database='customer')
print(conn)

In [ ]:
curs=conn.cursor()
curs

In [ ]:
curs.execute("create table customer_order (customer_id INT PRIMARY KEY, name VARCHAR(50), email VARCHAR(255))")

In [ ]:
curs.execute("create table products (product_id INT PRIMARY KEY, product_name VARCHAR(255) NOT NULL,price DECIMAL(10, 2) NOT NULL, quantity INT)")

In [ ]:
curs.execute("create table order_details (order_id INT PRIMARY KEY, customer_id INT, order_date DATE)")

In [ ]:
curs.execute("show tables")
for i in curs:
    print(i)

In [ ]:
cus_insert="insert into customer_order (customer_id,name,email) values (%s,%s,%s)"   #records insert
cus_val=[(101,'john','john@gmail.com'),
        (102,'alex','alex@gmail.com'),
        (103,'Rohit','aman@gmail.com'),
        (104,'sumit','abhi@gmail.com'),
        (105,'abhijeet','ankit@gmail.com')]

curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'records inserted')

In [ ]:
curs.execute("select * from customer_order")
result=curs.fetchall()
for i in result:
        print(i)

In [ ]:
cus_insert="insert into products (product_id,product_name,price,quantity) values (%s,%s,%s,%s)"   #records insert
cus_val=[(1001,'books',1000.3,100),
        (1002,'mobile',2030.34,200),
        (1003,'TV',3272.844,300),
        (1004,'Laptop',4728.833,928),
        (1005,'AC',2738.373,938)]

curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'records inserted')

In [ ]:
curs.execute("select * from products")
result=curs.fetchall()
for i in result:
        print(i)

In [ ]:
cus_insert="insert into order_details (order_id,customer_id,order_date) values (%s,%s,%s)"   #records insert
cus_val=[(101,1234,'2019-09-22'),
        (102,3456,'2020-10-23'),
        (103,7545,'2021-02-28'),
        (104,5644,'2022-01-21'),
        (105,5443,'2023-03-23')]

curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'records inserted')

In [ ]:
curs.execute("select * from order_details")
result=curs.fetchall()
for i in result:
        print(i)

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Raus#199815@K",
    database="customer"
)
cursor = conn.cursor()


def place_order(customer_id, product_id, quantity):    
    try:
        
        cursor.execute("SELECT quantity, price FROM products WHERE product_id = %s", (product_id,))    # Check if the product is available
        result = cursor.fetchone()

        if result and result[0] >= quantity:
            subtotal = result[1] * quantity

           
            cursor.execute("INSERT INTO order_details (order_id, product_id, quantity, subtotal) VALUES (%s, %s, %s, %s)",
                           (order_id, product_id, quantity, subtotal))

            
            cursor.execute("UPDATE products SET quantity = quantity - %s WHERE product_id = %s",
                           (quantity, product_id))

            conn.commit()
            print("Order placed successfully.")
        else:
            print("Product not available or insufficient quantity.")
    except mysql.connector.Error as e:
        print(f"Error: {e}")


place_order(1, 11, 20)


conn.close()

# 3. You are tasked with developing a Python program that connects to a MySQL database, retrieves data from a table, performs some operations on the data, and updates the database with the modified data. Please write Python code to accomplish this task.

Instructions:

1. Assume that you have a MySQL database server running with the following details: i. Host: localhost

ii. Port: 3306

iii. Username: your_username

iv. Password: your password v. Database Name: your_database

vii. The table has the following columns: id (int)name (varchar),quantity (int). 2. Your Python program should:

vi. Table Name: your_table

i. Connect to the MySQL database. ii. Retrieve all records from the your_table table.

iii. Calculate the total quantity of all records retrieved. iv. Update the quantity column of each record by doubling its value

v. Commit the changes to the database.

vi. Close the database connection.

3. Handle any potential errors that may occur during the database connection and data manipulation, such as connection failures or SQL errors.

4. Provide comments in your code to explain each step.

In [ ]:
import mysql.connector as sql

In [ ]:
conn= sql.connect(host='127.0.0.1',
                   user='root',
                   password='Raus#199815@K',
                   database='demo')
print(conn)

In [ ]:
curs=conn.cursor()

In [ ]:
curs

In [ ]:
curs.execute("create table test_demo (id int,name varchar(20), quantity int)")

In [ ]:
curs.execute("show tables")
for i in curs:
    print(i)

In [ ]:
cus_insert="insert into test_demo (id,name,quantity) values (%s,%s,%s)"   #records insert
cus_val=[(101,'john',1000),
        (102,'alex',2000),
        (103,'Rohit',3000),
        (104,'sumit',4000),
        (105,'abhijeet',5000)]

curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'records inserted')

In [ ]:
curs.execute("select * from test_demo")
result=curs.fetchall()
for i in result:
        print(i)

In [ ]:
import mysql.connector

# Database connection configuration
db_config = {
    "host": "127.0.0.1",
    "user": "root",
    "password": "Raus#199815@K",
    "database": "demo",
}

try:
    # Connect to the MySQL database
    conn = mysql.connector.connect(**db_config)
    cursor = conn.cursor()

    # Retrieve all records from your table
    cursor.execute("SELECT * FROM test_demo")
    records = cursor.fetchall()

    # Calculate the total quantity of all records retrieved
    total_quantity = sum(record[2] for record in records)

    # Update the quantity column of each record by doubling its value
    for record in records:
        new_quantity = record[2] * 2
        cursor.execute("UPDATE test_demo SET quantity = %s WHERE id = %s", (new_quantity, record[0]))

   
    conn.commit()           # Commit the changes to the database

  
    conn.close()            # Close the database connection

    # Print the total quantity before and after the update
    print(f"Total quantity before update: {total_quantity}")
    print("All records updated successfully.")

except mysql.connector.Error as e:
    # Handle any potential errors during the database connection and data manipulation
    print(f"Error: {e}")
finally:
    if conn.is_connected():
        conn.close()

# 4 You are developing an employ management system for a company. The database should store employee information including name salary department and higher date managers should be able to view update employee details.
#Design the database schema for the employ management system.
#Write python code to connect to the database and retrieve a list of employee in specific department
#Implement a future update and employees salary

In [ ]:
import mysql.connector as sql

In [ ]:
conn= sql.connect(host='127.0.0.1',
                   user='root',
                   password='Raus#199815@K',
                   database='employee_managment1')
print(conn)

In [ ]:
curs=conn.cursor()

In [ ]:
curs

In [ ]:
curs=conn.cursor()
curs.execute("show databases")
for i in curs:
    print(i)

In [ ]:
curs.execute("create table employees1 (name varchar(20), salary INTEGER, department TEXT , hire_date DATE)")

In [ ]:
curs.execute("show tables")
for i in curs:
    print(i)

In [ ]:
cus_insert="insert into employees1 (name,salary,department,hire_date) values (%s,%s,%s,%s)"   #records insert
cus_val=[('john',5200,'IT','2013-09-6'),
        ('alex',5600,'CS','2015-08-14'),
        ('Rohit',4843,'ECE','2013-03-15'),
        ('sumit',9877,'ME','2014-05-16')]

curs.executemany(cus_insert,cus_val)
conn.commit()

In [ ]:
#display
curs.execute("select * from employees1")
result=curs.fetchall()
for i in result:
        print(i)

In [ ]:
sql="select * from employees1 where department='IT'"
curs.execute(sql)
for i in curs:
    print (i)

In [ ]:
sql="UPDATE employees1 SET salary = 20000 WHERE name = 'john'"
curs.execute(sql)
for i in curs:
    print (i)

In [ ]:
sql="select * from employees1 where department='IT'"
curs.execute(sql)
for i in curs:
    print (i)