In [4]:
%matplotlib inline
import pandas as pd

In [8]:
file_path = 'C:\\Users\\KIIT\Desktop\\gitprojects\\gitprojects\\titles.csv'

#Read the CSV files in to a dataframe
titles = pd.read_csv(file_path)
    
#now you can use the 'titles' Datafrmae as needed
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [9]:
file_path = 'C:\\Users\\KIIT\Desktop\\gitprojects\\gitprojects\\cast.csv'

#Read the CSV files in to a dataframe
cast = pd.read_csv(file_path)
    
#now you can use the 'cast' Datafrmae as needed
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [10]:
# How many movies are listed in the titles dataframe?

len(titles)

244914

In [25]:
# What are the earliest two films listed in the titles dataframe?

titles.sort_values('year').head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

In [13]:
# How many movies have the single-word title "Hamlet"?

len(titles[titles.title == 'Hamlet'])

20

In [12]:
# How many movies are titled "North by Northwest"?

len(titles[titles.title == 'North by Northwest'])

1

In [14]:
# When was the first movie titled "Hamlet" made?

titles[titles.title == 'Hamlet'].sort_values('year').head(1)

        title  year
52521  Hamlet  1910

In [27]:
# List all of the "Treasure Island" movies from earliest to most recent.

titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

In [18]:
# How many movies were made in the year 1950?

len(titles[titles.year == 1950])

1113

In [19]:
# How many movies were made in the year 1960?

len(titles[titles.year == 1960])

1549

In [29]:
# How many movies were made from 1950 through 1959?

t = titles
len(t[(t.year >= 1950) & (t.year <= 1959)])

12934

In [21]:
# In what years has a movie titled "Batman" been released?

t = titles
t[t.title == 'Batman']

         title  year
39349   Batman  1943
240896  Batman  1989

In [22]:
# How many roles were there in the movie "Inception"?

c = cast
len(c[c.title == 'Inception'])

78

In [23]:
# How many roles in the movie "Inception" are NOT ranked by an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.isnull()]
len(c)

27

In [31]:
# But how many roles in the movie "Inception" did receive an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.notnull()]
len(c)

51

In [34]:
# Display the cast of "North by Northwest" in their correct "n"-value order,
# ignoring roles that did not earn a numeric "n" value.

c = cast
c = c[c.title == 'North by Northwest']
c = c[c.n.notnull()]
c = c.sort_values('n')
c

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

In [35]:
# Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 1972]
c = c.sort_values('n')
c

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

In [36]:
# How many roles were credited in the silent 1921 version of Hamlet?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

In [37]:
# How many roles were credited in Branaghâ€™s 1996 Hamlet?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1996)]
len(c)

54

In [38]:
# How many "Hamlet" roles have been listed in all film credits through history?

c = cast
c = c[c.character == 'Hamlet']
len(c)

96

In [39]:
# How many people have played an "Ophelia"?

c = cast
c = c[c.character == 'Ophelia']
len(c)

# That was my original answer.
# But 9peppe on GitHub points out I am wrong! Instead:

len(cast[cast.character == "Ophelia"].name.unique())

# Can you work out why the two answers are different?

115

In [40]:
# How many people have played a role called "The Dude"?

c = cast
c = c[c.character == 'The Dude'].name.unique()
len(c)

19

In [41]:
# How many people have played a role called "The Stranger"?

c = cast
len(c[c.character == 'The Stranger'].name.unique())

202

In [42]:
# How many roles has Sidney Poitier played throughout his career?

c = cast
c = c[c.name == 'Sidney Poitier']
len(c)

43

In [43]:
# How many roles has Judi Dench played?

c = cast
c = c[c.name == 'Judi Dench']
len(c)

55

In [44]:
# List the supporting roles (having n=2) played by Cary Grant in the 1940s,
# in order by year.

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 2]
c = c.sort_values('year')
c

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

In [45]:
# List the leading roles that Cary Grant played in the 1940s in order by year.

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 1 ]
c = c.sort_values('year')
c

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

In [46]:
# How many roles were available for actors in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actor']
len(c)

157738

In [47]:
# How many roles were available for actresses in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actress']
len(c)

57733

In [48]:
# How many leading roles (n=1) were available
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n == 1]
len(c)

65140

In [49]:
# How many non-leading roles were available through
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n != 1]
len(c)

1117667

In [50]:
# How many roles through 1980 were minor enough
# that they did not warrant a numeric "n" rank?

c = cast
c = c[c.year <= 1980]
c = c[c.n.isnull()]
len(c)

448347